<H1>Data Science Tools and Ecosystem<H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python
<li>R 
<li>Java
<ol>

Some of the commonly used libraries used by Data Scientists include:
<ol> 
<li>Numpy
<li>Matplotlib
<li>Pandas
<ol>

|Data Science Tools|
|------------------|
|  Apache Hadoop   |
|  Tanserflow      |
|  SAS             |

<H3>Below are a few examples of evaluating arithmetic expressions in Python<H3>

In [4]:
(3*4)+5 # This a simple arithmetic expression to mutiply then add integers

17

In [5]:
200/60 #  This will convert 200 minutes to hours by diving by 60

3.3333333333333335

<b>Objactives:</b>
<ol>
    <li>List popular languages for Data Science
    <li>List popular languages for Data Science
<ol>
<ul>
    <li>List popular languages for Data Science
    <li>List popular languages for Data Science
    <li>List popular languages for Data Science
<ul>

<H2>Author:<H2>
<p>ABDULALIM<p>